[Unit]
Description=matheueben.service - A Flask application run with Gunicorn.
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/matheueben/
ExecStart=/var/www/matheueben/venv/bin/gunicorn --workers 5 --bind unix:/var/www/matheueben/matheueben.sock wsgi:application

[Install]
WantedBy=multi-user.target
