git+https://github.com/Dosenpfand/Flask-AppBuilder.git@multiple-actions-fix#egg=Flask-AppBuilder
flask-mail~=0.9
Pillow~=10.0 # For image processing in Flask-AppBuilder
psycopg2-binary~=2.9 # for postgresql
Flask-Migrate~=3.1
WTForms~=2.3
Flask~=2.1
alembic~=1.7
gunicorn~=22.0 # for deployment via nginx
python-dotenv~=0.21
Flask-DebugToolbar~=0.13
simpleeval~=0.9
sentry-sdk[flask,sqlalchemy]~=2.12 # for error collection
