<div class="row">

    <div class="col-md-4 col-sm-6">
         <div class="footer-info">
              <div class="section-title">
                   <h2>{{ config['APP_NAME'] }}</h2>
              </div>
              <address>
                   <p>matheworkout.at<br></p>
              </address>

              <div class="copyright-text">
                  <p>
                      Aufgabenquellen: <a href="https://prod.aufgabenpool.at/ahs/">prod.aufgabenpool.at</a> und
                      <a href="https://www.matura.gv.at">matura.gv.at</a>.<br/>
                      Design: <a rel="nofollow" href="http://templatemo.com" target="_parent">TemplateMo</a><br/>
                      Distribution: <a href="https://themewagon.com/">ThemeWagon</a>
                  </p>
              </div>
         </div>
    </div>

    <div class="col-md-4 col-sm-6">
         <div class="footer-info">
              <div class="section-title">
                   <h2>Kontakt und Feedback</h2>
              </div>
              <address>
                   <p><a href="mailto:info@matheueben.eu">info@matheueben.eu</a></p>
              </address>

              <div class="footer_menu">
                   <h2>Rechtlich</h2>
                   <ul>
                        <!-- TODO -->
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">Datenschutz</a></li>
                        <li><a href="#">Nutzungsbedingungen</a></li>
                   </ul>
              </div>
         </div>
    </div>

</div>