<div class="col-md-12 col-sm-12">
    <h2>Hallo {{ current_user.first_name }}</h2>
</div>

{% include "news.html" %}

<div class="col-md-6 col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Hausübungen</h3></div>
        <div class="panel-body">
            Du hast
            {% if current_user.active_assignments()|length == 0 -%}
                derzeit keine aktiven Hausübungen.
            {% elif current_user.active_assignments()|length > 1 -%}
                &nbsp;die folgenden {{ current_user.active_assignments()|length }} aktiven Hausübungen:
            {% else -%}
                &nbsp;die folgende aktive Hausübung:
            {% endif -%}
        </div>
        {%- if current_user.active_assignments()|length >= 1 -%}
            <ul class="list-group">
                <table class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>
                            Hausübung
                        </th>
                        <th>
                            Klasse
                        </th>
                        <th>
                            Fällig am
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for assignment in current_user.active_assignments() -%}
                        <tr>
                            <td>
                                <a href="{{ url_for("AssignmentModelStudentView.show", pk=assignment.id) }}">
                                    {{ assignment.name }}
                                </a>
                            </td>
                            <td>
                                {{ assignment.learning_group.name }}
                            </td>
                            <td>
                                {{ assignment.is_due_on_de }}
                            </td>
                        </tr>
                    {% endfor -%}
                    </tbody>
                </table>
            </ul>
        {% endif %}
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Bestenliste</h3></div>
        <div class="panel-body">
            Du bist Mitglied in
            {% if current_user.learning_groups|length == 0 -%}
                keiner Klasse. Trete einer Klasse bei, um deine Platzierung in der Bestenliste zu sehen.
            {% else %}
                {% if current_user.learning_groups|length > 1 -%}
                    <b>{{ current_user.learning_groups|length }}</b> Klassen
                {% else -%}
                    <b>einer</b> Klasse
                {% endif -%}
                und hast insgesamt <b>{{ current_user.correct_questions() }}</b> Fragen richtig gelöst. Damit hast
                du die folgenden Positionen in der
                <abbr title="Gewertet wird nach der Anzahl an richtig beantworteter Fragen">Bestenliste</abbr> inne.
            {% endif %}
        </div>
        {%- if current_user.learning_groups|length >= 1 -%}
            <ul class="list-group">
                <table class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>
                            Klasse
                        </th>
                        <th>
                            Position
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for learning_group in current_user.learning_groups -%}
                        <tr>
                            <td>
                                {{ learning_group.name }}
                            </td>
                            <td>
                                {{ learning_group.position(current_user) }}
                            </td>
                        </tr>
                    {% endfor -%}
                    </tbody>
                </table>
            </ul>
        {% endif %}
    </div>

</div>

{% include "dashboard_stats.html" %}