

{% extends "appbuilder/general/model/edit.html" %}

{% block edit_form %}
    <div id="Home" class="tab-pane active">
        <h2>{{question['title']}}</h1>
        <div class="well well-sm"><strong>Frage Nr.: {{question['external_id']}}</strong></div>
        <div class="well well-sm"><strong>{{question['description']}}</strong></div>
        {{ widgets.get('edit')(form_action=form_action)|safe }}
        {% if question['options'] %}
            <div class="well well-sm"><strong>A: {{question['options']['A']}}</strong></div>
            <div class="well well-sm"><strong>B: {{question['options']['B']}}</strong></div>
            <div class="well well-sm"><strong>C: {{question['options']['C']}}</strong></div>
            <div class="well well-sm"><strong>D: {{question['options']['D']}}</strong></div>
            <div class="well well-sm"><strong>E: {{question['options']['E']}}</strong></div>
            <div class="well well-sm"><strong>F: {{question['options']['F']}}</strong></div>
        {% endif %}
    </div>
{% endblock %}


