{% extends "appbuilder/general/model/edit.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% macro options_to_additional_col(options) %}
    {% call lib.accordion_tag("options_additional_col", "Optionen", True) %}
    <div class="table-responsive">
        <table class="table table-responsive table-bordered">
            <tr><td><strong>A</strong></td><td>{{options['A']}}</td></tr>
            <tr><td><strong>B</strong></td><td>{{options['B']}}</td></tr>
            <tr><td><strong>C</strong></td><td>{{options['C']}}</td></tr>
            <tr><td><strong>D</strong></td><td>{{options['D']}}</td></tr>
            <tr><td><strong>E</strong></td><td>{{options['E']}}</td></tr>
            <tr><td><strong>F</strong></td><td>{{options['F']}}</td></tr>
        </table>
    </div>
    {% endcall %}
{% endmacro %}

{% if not question %}
{% set question = {} %}
{% endif %}
{% if question['options'] %}
{% set additional_col = options_to_additional_col(question['options']) %}
{% endif %}

{% block edit_form %}
    <div id="Home" class="tab-pane active">
        {% if question['title'] %}
        <h2>{{question['title']}}</h2>
        {% endif %}
        {% if question['external_id'] %}
        <div class="well well-sm">
            <ol class="breadcrumb">
                <li><strong>Frage Nr.: {{ question['external_id'] }}</strong></li>
                <li>{{ question['category'] }}</li>
            </ol>
        </div>
        {% endif %}
        {% if question['assignment_progress'] %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Aufgabenfortschritt</h3>
          </div>
          <div class="panel-body">
            <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ question['assignment_progress']['percentage'] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ question['assignment_progress']['percentage'] }}%; min-width: 7em;">
                    {{ question['assignment_progress']['done'] }} / {{ question['assignment_progress']['total'] }}
                  </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="well well-sm">
            {% if question['description'] %}
                <strong>
                    {{ question['description'] }}
                </strong>
            {% elif question['description_include'] %}
                {% include question['description_include'] %}
            {% endif %}
        </div>
        {% if question['after_description'] %}
        <div class="well well-sm">{{question['after_description']}}</div>
        {% endif %}
        {% if not question['error'] %}
        {{ widgets.get('edit')(
            form_action=form_action,
            submit_text=question['submit_text'],
            back_count=question.get('back_count', 1),
            additional_col=additional_col,
            video_embed_url=question.get('video_embed_url', None),
            forward_text=question.get('forward_text', None),
            forward_url=question.get('forward_url', None)
            )|safe }}
        {% endif %}
    </div>
{% endblock %}
