{% extends "appbuilder/base.html" %}
{% block content %}
    <div class="container" id="about">
        <div class="row">
            {% if current_user.is_authenticated %}
                <h2>Hallo {{ current_user.first_name }}</h2>
                <div class="col-md-6 col-sm-12">

                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title">Hausübungen</h3></div>
                        <div class="panel-body">
                            Du hast
                            {%- if current_user.active_assignments()|length > 1 -%}
                                &nbsp;die folgenden {{ current_user.active_assignments()|length }} aktiven Hausübungen:
                            {%- else -%}
                                &nbsp;die folgende aktive Hausübung:
                            {%- endif -%}
                        </div>
                        <ul class="list-group">
                            <table class="table table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th>
                                        Hausübung
                                    </th>
                                    <th>
                                        Klasse
                                    </th>
                                    <th>
                                        Fällig am
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for assignment in current_user.active_assignments() -%}
                                    <tr>
                                        <td>
                                            <a href="{{ url_for("AssignmentModelStudentView.show", pk=assignment.id) }}">
                                                {{ assignment.name }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ assignment.learning_group.name }}
                                        </td>
                                        <td>
                                            {{ assignment.is_due_on }}
                                        </td>
                                    </tr>
                                {% endfor -%}
                                </tbody>
                            </table>
                        </ul>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title">Klassen</h3></div>
                        <div class="panel-body">
                            Du bist Mitglied in
                            {%- if current_user.learning_groups|length > 1 -%}
                                &nbsp;den folgenden {{ current_user.learning_groups|length }} Klassen:
                            {%- else -%}
                                &nbsp;der folgenden Klasse:
                            {%- endif -%}
                        </div>
                        <ul class="list-group">
                            {% for learning_group in current_user.learning_groups -%}
                                <li class="list-group-item">{{ learning_group.name }}</li>
                            {% endfor -%}
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title">Statistiken</h3></div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div>
                                    <canvas id="chart-weekly"></canvas>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <canvas id="chart-topic"></canvas>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <canvas id="chart-total"></canvas>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <script>
                        const data_weekly = {
                            labels: {{ current_user.answered_by_week()['week_indices'][::-1] }},
                            datasets: [
                                {
                                    label: 'Richtig',
                                    backgroundColor: '#29ca8e',
                                    borderColor: '#29ca8e',
                                    data: {{ current_user.answered_by_week()['correct'] }}
                                },
                                {
                                    label: 'Falsch',
                                    backgroundColor: '#29ca8e',
                                    borderDash: [5, 5],
                                    borderColor: '#29ca8e',
                                    data: {{ current_user.answered_by_week()['incorrect'] }}
                                }]
                        };

                        const config_weekly = {
                            type: 'line',
                            data: data_weekly,
                            options: {
                                scales: {
                                    y: {
                                        title: {
                                            display: true,
                                            text: 'Aufgaben'
                                        }
                                    },
                                    x: {
                                        title: {
                                            display: true,
                                            text: 'Vergangene Wochen'
                                        }
                                    },
                                },
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'Beantwortete Fragen der vergangenen Wochen'
                                    }
                                }
                            }
                        };

                        window.addEventListener('load', function () {
                            const chart_weekly = new Chart(
                                document.getElementById('chart-weekly'),
                                config_weekly
                            );
                        });
                    </script>
                    <script>
                        const data_topic = {
                            labels: [
                                {% for topic in current_user.answered_by_topic()['correct'].keys() -%}
                                    '{{ topic }}',
                                {% endfor -%}
                            ],
                            datasets: [
                                {
                                    label: 'Richtig',
                                    data: [
                                        {% for correct in current_user.answered_by_topic()['correct'].values() -%}
                                            '{{ correct }}',
                                        {% endfor -%}
                                    ],
                                    backgroundColor: '#29ca8e',
                                    borderColor: '#29ca8e',
                                    borderWidth: 1,
                                },
                                {
                                    label: 'Falsch',
                                    data: [
                                        {% for incorrect in current_user.answered_by_topic()['incorrect'].values() -%}
                                            '{{ incorrect }}',
                                        {% endfor -%}
                                    ],
                                    backgroundColor: '#ffffff',
                                    borderColor: '#29ca8e',
                                    borderWidth: 1
                                },
                            ]
                        };

                        const config_topic = {
                            type: 'bar',
                            data: data_topic,
                            options: {
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'Beantwortete Fragen nach Grundkompetenzbereich'
                                    },
                                },
                                scales: {
                                    x: {
                                        stacked: true,
                                    },
                                    y: {
                                        beginAtZero: true,
                                        stacked: true
                                    }
                                }
                            },
                        };

                        window.addEventListener('load', function () {
                            const chart_total = new Chart(
                                document.getElementById('chart-topic'),
                                config_topic
                            );
                        });
                    </script>
                    <script>
                        const data_total = {
                            labels: [
                                'Richtig',
                                'Falsch'
                            ],
                            datasets: [{
                                label: 'Beantwortete Aufgaben',
                                data: [{{ current_user.correct_questions() }}, {{ current_user.tried_questions() - current_user.correct_questions() }}],
                                backgroundColor: [
                                    '#29ca8e',
                                    '#ffffff',
                                ],
                                borderColor: [
                                    '#29ca8e',
                                    '#29ca8e',
                                ],
                                hoverOffset: 4
                            }]
                        };

                        const config_total = {
                            type: 'pie',
                            data: data_total,
                            options: {
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'Insgesamt beantwortete Fragen'
                                    }
                                }
                            }
                        };

                        window.addEventListener('load', function () {
                            const chart_total = new Chart(
                                document.getElementById('chart-total'),
                                config_total
                            );
                        });
                    </script>
                </div>

            {% else %}
                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>Highlights</h2>
                        <figure>
                            <span><i class="fa fa-building-columns"></i></span>
                            <figcaption>
                                <h3>Maturavorbereitung</h3>
                                <p>
                                    {{ question_count }} interaktive Aufgabenpool- und
                                    AHS-Matura-Aufgaben, {{ matura_count }}
                                    standardisierte Reifeprüfungen aus Teil 1.
                                </p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-chart-line"></i></span>
                            <figcaption>
                                <h3>Statistische Auswertung</h3>
                                <p>Aufgabenauswahl nach Grundkompetenzen, Übersicht über bearbeitete Aufgaben und
                                    Lernfortschritt mit statischer Auswertung</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-person-chalkboard"></i></span>
                            <figcaption>
                                <h3>Für Lehrende</h3>
                                <p>Individualisierte Aufgabenpakete für Klassen, Auswertungen mit CSV-Export von
                                    Klassen-Ergebnissen</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-euro-sign"></i></span>
                            <figcaption>
                                <h3>Kostenlos</h3>
                                <p>Lerne ohne dafür zu bezahlen, weil Bildung ein Grundrecht ist.</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>{{ _("Willkommen") }}</h2>
                        <p>
                            Diese Seite dient zur Unterstützung bei der Vorbereitung auf die österreichische
                            AHS-Mathematik-Zentralmatura.
                            Dazu stehen alle Grundkompetenzaufgaben aus dem <a
                                href="{{ url_for('QuestionModelView.list') }}">Aufgabenpool</a>,
                            sowie <a href="{{ url_for('CategoryModelStudentView.list') }}">Matura-Aufgaben (Teil
                            1)</a>
                            der
                            letzten Jahre nach Themen sortiert zur Verfügung.
                        </p>
                        <p>
                            Du kannst Aufgaben interaktiv üben und erhältst so sofort Feedback zu deiner Arbeit.
                            Zu allen Aufgaben wird ein Überblick von bereits richtig bzw. falsch gelösten Aufgaben
                            angeboten,
                            damit du weißt, was du noch üben musst.
                        </p>
                        <p>
                            Lehrer:innen können Übungspakete für eine Klasse erstellen und so gezielt auf bestimmte
                            Kompetenzen
                            vorbereiten.
                            Lehrer:innen können den Bearbeitungsstatus einer Hausaufgabe einer Klasse kontrollieren
                            und
                            so dann
                            im Unterricht gezielt Feedback geben.
                            Die Website ist als Hilfsmittel für Lehrende und Lernende ab der Sekundarstufe 2
                            konzipiert
                            und kann
                            kostenfrei genutzt werden.
                        </p>
                        <p>
                            Falls du schon mal hier warst, kannst du dich
                            <a class="btn-primary"
                               href="{{ url_for("AuthDBView.login") }}">hier
                                anmelden</a>.
                            Wenn du neu hier bist, kannst du dich
                            <a class="btn-primary"
                               href="{{ appbuilder.sm.get_url_for_registeruser }}">hier
                                registrieren</a>.
                        </p>
                    </div>
                </div>

            {% endif %}

        </div>
    </div>
{% endblock %}
