{% extends "appbuilder/base.html" %}
{% block content %}
    <div class="container" id="about">
        <div class="row">
            {% if current_user.is_authenticated %}
                {% if config.STUDENT_ROLE_NAME in current_user.role_names() -%}
                    {% include 'dashboard_student.html' -%}
                {% elif config.TEACHER_ROLE_NAME in current_user.role_names() -%}
                    {% include 'dashboard_teacher.html' -%}
                {% endif %}
            {% else %}
                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>Highlights</h2>
                        <figure>
                            <span><i class="fa fa-building-columns"></i></span>
                            <figcaption>
                                <h3>Maturavorbereitung</h3>
                                <p>
                                    {{ question_count }} interaktive Aufgabenpool- und
                                    AHS-Matura-Aufgaben, {{ matura_count }}
                                    standardisierte Reifeprüfungen aus Teil 1.
                                </p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-chart-line"></i></span>
                            <figcaption>
                                <h3>Statistische Auswertung</h3>
                                <p>Aufgabenauswahl nach Grundkompetenzen, Übersicht über bearbeitete Aufgaben und
                                    Lernfortschritt mit statischer Auswertung</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-person-chalkboard"></i></span>
                            <figcaption>
                                <h3>Für Lehrende</h3>
                                <p>Individualisierte Aufgabenpakete für Klassen, Auswertungen mit CSV-Export von
                                    Klassen-Ergebnissen</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-euro-sign"></i></span>
                            <figcaption>
                                <h3>Kostenlos</h3>
                                <p>Lerne ohne dafür zu bezahlen, weil Bildung ein Grundrecht ist.</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <h2>{{ _("Willkommen") }}</h2>
                        <p>
                            Diese Seite dient zur Unterstützung bei der Vorbereitung auf die österreichische
                            AHS-Mathematik-Zentralmatura.
                            Dazu stehen alle Grundkompetenzaufgaben aus dem <a
                                href="{{ url_for('QuestionModelView.list') }}">Aufgabenpool</a>,
                            sowie <a href="{{ url_for('CategoryModelStudentView.list') }}">Matura-Aufgaben (Teil
                            1)</a>
                            der
                            letzten Jahre nach Themen sortiert zur Verfügung.
                        </p>
                        <p>
                            Du kannst Aufgaben interaktiv üben und erhältst so sofort Feedback zu deiner Arbeit.
                            Zu allen Aufgaben wird ein Überblick von bereits richtig bzw. falsch gelösten Aufgaben
                            angeboten,
                            damit du weißt, was du noch üben musst.
                        </p>
                        <p>
                            Lehrer:innen können Übungspakete für eine Klasse erstellen und so gezielt auf bestimmte
                            Kompetenzen
                            vorbereiten.
                            Lehrer:innen können den Bearbeitungsstatus einer Hausaufgabe einer Klasse kontrollieren
                            und
                            so dann
                            im Unterricht gezielt Feedback geben.
                            Die Website ist als Hilfsmittel für Lehrende und Lernende ab der Sekundarstufe 2
                            konzipiert
                            und kann
                            kostenfrei genutzt werden.
                        </p>
                        <p>
                            Falls du schon mal hier warst, kannst du dich
                            <a href="{{ url_for("AuthDBView.login") }}">hier anmelden</a>.
                            Wenn du neu hier bist, kannst du dich
                            <a href="{{ appbuilder.sm.get_url_for_registeruser }}">hier registrieren</a>.
                        </p>
                    </div>
                </div>

            {% endif %}

        </div>
    </div>
{% endblock %}
