{% extends 'appbuilder/baselayout.html' %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
{# TODO: some of these not needed anymore #}
<style>
    td {
        vertical-align: middle !important;
    }

    .btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-default {
        background-image: none;
    }

    #navbar-collapse {
        max-height: none;
    }

    @media print {
        .custom-navbar {
            display: none;
        }
        .panel-heading {
            display: none;
        }
        .question-image {
            object-fit: contain;
        }
        .option-image {
            max-height: 2cm !important;
        }
        .selection-image {
            max-height: 2cm !important;
        }
        #top {
            padding-top: 0;
        }
        section {
            padding: 0;
        }
        .panel {
            border: none;
        }
        footer {
            display: none;
        }
        #print-button {
            display:none;
        }
    }
</style>
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="any">
<link rel="icon" href="{{ url_for('static', filename='icon.svg') }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
{% endblock %}
