<p>
    Schüler können aus einer CSV-Datei importiert werden, die mithilfe eines Texteditors oder eines Tabellenkalukationsprogramms
    erstellt wurde.
    Diese Datei muss die folgenden Spalten enthalten:
    <pre>Vorname,Nachname,E-Mail-Adresse,Klasse</pre>
</p>
<p>
    Als Vorlage kann <a href="{{ url_for('static', filename='import_user_template.csv') }}">diese Beispieldatei</a>
    verwendet werden.
    Die erste Zeile mit den Spaltenbezeichnungen muss erhalten bleiben, die zweite Zeile mit dem Beispieldatensatz muss
    gelöscht werden.
    Anschließend können weitere Datensätze von Schülern als Zeilen eingefügt werden.
    Schließlich kann die erstellte CSV-Datei mit dem folgenden Formular hochgeladen werden.
</p>
<p>
    Innerhalb von 24 Stunden können {{ question['max_imports_per_day'] }} Datensätze importiert werden.
</p>