<li class="list-group-item">Funktionalität: Optionen die markiert werden sollten werden nun grün hinterlegt, anstatt korrekt ausgewählter Optionen.</li>
<li class="list-group-item">Funktionalität: Lehrer:innen können in der Detailansicht von Aufgabenlisten Aufgaben zu Hausübungen hinzufügen.</li>
<li class="list-group-item">Funktionalität: Lehrer:innen können Schüler:innen aus ihren Klassen entfernen.</li>
<li class="list-group-item">Statistik: Über 800 registrierte Benutzer und über 17.000 gelöste Aufgaben.</li>

